* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

:root {
    --color-background: #f5f5dc;
    --color-dark-background: #222931;

    --color-primary: #0b2f57;
    --color-secondary: #117f83;
}

html body {
    background-color: var(--color-background);
    color: var(--color-primary);
}

html[data-theme="dark"] body {
    background-color: var(--color-dark-background);
    color: var(--color-secondary);
}